extends ../layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header Forms

	div.row
		div.col-lg-6
			form(role="form")
				div.form-group
					label Text Input
					input.form-control
				div.form-group
					label Text Input with Placeholder
					input.form-control(placeholder="Enter text")
				div.form-group.input-group
					input(type="text" placeholder="Search for...").form-control
					span.input-group-btn
						button.btn.btn-default(type="button")&nbsp;
							i.fa.fa-search
				div.form-group
					label Selects
					select.form-control
						option 1
						option 2
						option 3
						option 4
						option 5
						option 6
				div.form-group
					label Multiple Selects
					select(multiple).form-control
						option 1
						option 2
						option 3
						option 4
						option 5
						option 6
				div.form-group
					label 开/关
					label.radio-inline
						input(type="radio" name="optionsRadiosInline" value="option1")
						span on
					label.radio-inline
						input(type="radio" name="optionsRadiosInline" value="option2" checked)
						span off


				button(type="submit").btn.btn-default Submit Button
				button(type="reset").btn.btn-default Reset Button      