extends ./layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header 视觉感知测试之DPXDT
	div.row
		div.col-lg-12
			div.panel.panel-default
				div.panel-heading font-awesome
				div.panel-body some thing