extends ./layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header 监控列表页
	div.row
		div.col-lg-12
			div.panel.panel-default
				//- div.panel-heading Basic Table
				div.panel-body
					div.table-responsive
						table.table
							thead
								tr
									th 序号
									th 监控对象
									th 名称
									th 检测频率
									th 检测点
									th 告警状态
									th 开关
									th 编辑
									th 详情
							tbody
								tr
									td 1
									td
										a.btn.btn-link(href="javascript:;") http://m.mogujie.com/
									td Mogujie(H5)
									td 10分钟
									td 3
									td 正常
									td 开/关
									td edit
									td detail
								tr
									td 2
									td
										a.btn.btn-link(href="javascript:;") http://www.mogujie.com/
									td Mogujie(PC)
									td 10分钟
									td 3
									td 正常
									td 开/关
									td edit
									td detail
