extends ./layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header 模拟用户操作
	div.row
		div.col-lg-6
			form(role="form")
				div.form-group
					label 输入URL
					input.form-control.url
					button.btn.btn-default.excute(type="button") GO
	script(src="/js/phantomjs.js")