extends ./layout
block child-page
	div.row
		div.col-lg-12
			h3.page-header 对比截图差异

	div.row
		div.col-lg-6
			form(role="form")
				div.form-group
					label 获取基准图片
					input.form-control.url(placeholder="输入页面地址")
					button.btn.btn-success.btn-sm.inline(type="button") 获取截图
		div.col-lg-6
			form(role="form")
				div.form-group
					label 获取对比图片
					input.form-control.url(placeholder="输入页面地址")
					button.btn.btn-success.btn-sm.inline(type="button") 获取截图

	div.row
		div.col-xs-3.cos-md-3
			a.thumbnail(href="javascript:;")
				img(src="http://s18.mogucdn.com/p1/160402/upload_ie4tgmbxmu2tey3bg4zdambqgqyde_400x300.png" alt="基准图片" style="height:180px;width:auto")
		div.clo-xs-6.col-md-3
		div.col-xs-3.cos-md-3
			a.thumbnail(href="javascript:;")
				img(src="http://s18.mogucdn.com/p1/160402/upload_ifqtmy3bmq2tey3bg4zdambqgyyde_400x300.png" alt="对比图片" style="height:180px;width:auto")
	div.row
		div.col-lg-6
			form(role="form")
				div.form-group
					button.btn.btn-primary.btn-sm.inline(type="button") 获取差异对比图
	div.row
		div.col-xs-3.cos-md-3
			a.thumbnail(href="javascript:;")
				img(src="http://s18.mogucdn.com/p1/160402/upload_ifrdiztfmm2tey3bg4zdambqmeyde_400x300.png" alt="差异对比图" style="height:auto;width:auto")
	script(src="/js/phantomcss.js")